.cover-main{
    background: url(batman.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 900px) {
    .cover-main{
        background: url(legosuperman.jpg);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 600px) {
    .cover-main{
        background: url(batmanmini.jpg);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}